{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gallary</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'gallary.css' %}"></link>
	
</head>
<body>

	<!--Header-->

	<div class="header">
		<div class="logo">
		</div>
		<div class="title">
			<h1>Blood Donation Portal</h1>
			<p>An exclusive blood donation portal by Graphic Era </p>
		</div>
		<div class="search">
			<input type="text" placeholder="search">
			<a href=""><img src="{% static '/images/logo/search.png' %}" alt=""></a>
		</div>
		<div class="login">
			<button>
				<a href="/accounts/login">Login</a>
			</button>
			<div class="loginpic">	
			</div>
		</div>
	</div>

	<!--Navbar-->
	<div class="imgback">
	<div class="nav">
		<ul >
			<li id="home" class="item"><p></p><a href="/">Home</a></li>
			<li id="services" class="item" ><p></p><a href="/services">Services</a></li>
			<li id="gallary" class="item active" ><p></p><a href="/gallary">Gallary</a></li>
			<li id="aboutus" class="item" ><a href="/about">About Us</a><p></p></li>
		</ul>
		
	</div>

	<!--Body of page-->
	<div class="container">
		<a href="/static/images/gallary/b1.jpg"><div class="itemgallary" id="item1"></div></a>
		<a href="/static/images/gallary/b6.jfif"><div class="itemgallary" id="item2"></div></a>
		<a href="/static/images/gallary/b3.jfif"><div class="itemgallary" id="item3"></div></a>
		<a href="/static/images/gallary/b4.jfif"><div class="itemgallary" id="item4"></div></a>
		<a href="/static/images/gallary/b5.jpg"><div class="itemgallary"  id="item5"></div></a>
		<a href="/static/images/gallary/b6.jfif"><div class="itemgallary" id="item6"></div></a>
		<a href="/static/images/gallary/b7.jfif"><div class="itemgallary" id="item7"></div></a>
		<a href="/static/images/gallary/b8.jfif"><div class="itemgallary" id="item8"></div></a>
		<a href="/static/images/gallary/b9.jfif"><div class="itemgallary" id="item9"></div></a>
		<a href="/static/images/gallary/b1.jpg"><div class="itemgallary"  id="item10"></div></a>
		<a href="/static/images/gallary/b7.jfif"><div class="itemgallary" id="item11"></div></a>
		<a href="/static/images/gallary/b5.jpg"><div class="itemgallary"  id="item12"></div></a>
		<a href="/static/images/gallary/b3.jfif"><div class="itemgallary" id="item13"></div></a>
		<a href="/static/images/gallary/b7.jfif"><div class="itemgallary" id="item14"></div></a>
		<a href="/static/images/gallary/b6.jfif"><div class="itemgallary" id="item15"></div></a>
		<a href="/static/images/gallary/b4.jfif"><div class="itemgallary" id="item16"></div></a>
		<a href="/static/images/gallary/b8.jfif"><div class="itemgallary" id="item17"></div></a>
		<a href="/static/images/gallary/b2.jfif"><div class="itemgallary" id="item18"></div></a>
		<a href="/static/images/gallary/b9.jfif"><div class="itemgallary" id="item19"></div></a>
		<a href="/static/images/gallary/b4.jfif"><div class="itemgallary" id="item20"></div></a>
		<a href="/static/images/gallary/b2.jfif"><div class="itemgallary" id="item21"></div></a>
		<a href="/static/images/gallary/b9.jfif"><div class="itemgallary" id="item22"></div></a>
		<a href="/static/images/gallary/b10.jfif"><div class="itemgallary" id="item23"></div></a>
		<a href="/static/images/gallary/b3.jfif"><div class="itemgallary" id="item24"></div></a>
		<a href="/static/images/gallary/b1.jpg"><div class="itemgallary" id="item25"></div></a>
		<a href="/static/images/gallary/b5.jpg"><div class="itemgallary" id="item26"></div></a>
		<a href="/static/images/gallary/b7.jfif"><div class="itemgallary" id="item27"></div></a>
		<a href="/static/images/gallary/b8.jfif"><div class="itemgallary" id="item28"></div></a>
		<a href="/static/images/gallary/b10.jfif"><div class="itemgallary" id="item29"></div></a>
		<a href="/static/images/gallary/b7.jfif"><div class="itemgallary" id="item30"></div></a>
		<a href="/static/images/gallary/b3.jfif"><div class="itemgallary" id="item31"></div></a>
		<a href="/static/images/gallary/b4.jfif"><div class="itemgallary" id="item32"></div></a>
		<a href="/static/images/gallary/b6.jfif"><div class="itemgallary" id="item33"></div></a>
		<a href="/static/images/gallary/b9.jfif"><div class="itemgallary" id="item34"></div></a>
		<a href="/static/images/gallary/b8.jfif"><div class="itemgallary" id="item35"></div></a>
		<a href="/static/images/gallary/b9.jfif"><div class="itemgallary" id="item36"></div></a>
		<a href="/static/images/gallary/b8.jfif"><div class="itemgallary" id="item37"></div></a>
		<a href="/static/images/gallary/b9.jfif"><div class="itemgallary" id="item38"></div></a>
		<a href="/static/images/gallary/b8.jfif"><div class="itemgallary" id="item39"></div></a>

	</div>
	
	<!--footer-->
	<div class="footer">

		<p>©copyright by Graphic Era hill university</p>
		<a href="/instagram"><div id="insta" class="footercontact"></div></a>
		<a href="/facebook"><div id="facebook" class="footercontact"></div></a>
			<a href="/twitter"><div id="twitter" class="footercontact"></div></a>
	</div>
</body>
</html>
